<div class="task">
  <%= link_to "edit", edit_task_list_task_path(*task.param_parts), class: "complete-button" %>
  <span class="task-description"><%= task.description %></span>
  <span class="task-due">
    (<%= distance_of_time_in_words(Time.now, task.due_date) %>)
  </span>
</div>
